:root{
  --header-color: hotpink;
}

*{
  margin: 0;
  padding: 0;
}

#toybox { /* de container van alle random geplaatste kaartjes*/
  max-width: 100%;
  height: 180vh;
  list-style: none;
  border-block: 3px solid deeppink;

  background-image: url("../assets/bg-pink.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  @media (min-width: 400px) {
    height: 120vh
  }

  @media (min-width: 600px) {
    height: 90vh
    
  }



  /* de default styling voor iedere li*/
  li{

    display: grid;
    align-items: center;
    text-align: center;
    max-width: 48vw; /* de maximale grootte van een kaartje is iets minder dan 50vw zo zullen twee kaartjes altijd naast elkaar passen */
    background-color: lightgrey;

    h2{
      background-color: hotpink;
    }

    article{
      padding: 1em;
    }

    p{
      max-width: 400px;
    }

    

      @media (min-width: 833px) {
      max-width: 400px;
        
      }
  }

  /* specifieke styling classes voor de positie van de header" aan de boven-, onder- of linkerkant */
  /* Deze header classes moeten siblings zijn van de li's zodat ze de li regels correct overschrijven */
  .leftHeader{
    grid-template-columns: 1fr auto;

    
    h2{
      writing-mode: sideways-lr;
      inline-size: 100%;
      max-inline-size: 300px;
    }

    article {
      max-inline-size: 150px;
    }
  }

  .bottomHeader{
      /* flex-direction: column-reverse; */
      grid-template-areas: 
      "content"
      "header";

      h2{
        grid-area: header;
      }

      article{
        grid-area: content;
      }
      
  }
}

img {
  border-radius: 10em;
  background-color: white;
  border: 3px solid hotpink;
  
  max-width: 90%;
  object-fit: cover; 
}

li {
  position: fixed;
}

.bottomHeader h2, .topHeader h2 {
      width: 100%;
}

.credit{
  text-align: end;
  padding-inline-end: 1em;
}